<h2 class="display-3">Find a buddy</h2>
<p class="lead">Check out the requests below to find a new buddy </p>

<div class="col-md-12">

  <table id="my-request-table" class="table">
    <tr>
      <th>Game Name</th>
      <th>Console</th>
      <th>Day/Time</th>
      <th>Reach Out</th>
      {{!-- <th>Time</th> --}}
    </tr>
    {{#if requests.length}}
    {{#each requests as |r|}}
    <tr>

      <td>{{game.name}}</td>
      <td>{{console.name}}</td>
      <td>{{r.date}}</td>
      {{!-- <td>{{user.user_name}}</td> --}}
      <td>
        <a role="button" class="btn btn-danger" href="/find-a-buddy/{{r.id}}">Get in contact</a>
      </td>

    </tr>
    {{/each}}
    {{/if}}
  </table>
</div>

{{!-- script --}}
<script type="module" src="/js/findabuddy.js"></script>